#output-display {
  width: 150px;
  position: fixed;
  top: 20px;
  left: 10px;
  background: lightgrey;
  padding: 8px 0;
}

#output-display p {
  font-size: 8pt;
}

.form-header {
  text-align: center;
  font-style: italic;
}

.eraser {
  cursor: pointer;
  font-style: italic;
}
